# TP2 - DB Normalization and Querying

The objectives of this TP are:
1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this TP, we will use a database **`wine.db`** (available in the course's website) containing wine information related to 'production' and 'sales'. 

> Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [20]:
import sqlite3    # Python interface for SQLite databases

In [21]:
def printSchema(connection):
    # Function to print the DB schema
    # Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [106]:
conn = sqlite3.connect('C://Users//Max Tchibozo//Desktop//wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER1sub1:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
MASTER1sub2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
MASTER1sub3:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
  3: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
MASTER2sub1:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER2sub2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
MASTER2sub3:
  0: LIEU(TEXT)
  1: REGION(TEXT)
MASTER2sub4:
  0: NB(NUM)
  1: NV(NUM)
  2: LIEU(TEXT)
  3: QTE(NUM)
  4: DATES(NUM)

From this point we will use __%%sql__ magic

In [23]:
%load_ext sql
%sql sqlite:///wine.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @wine.db'

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables **Master1** and **Master2** are in the First Normal Form (1NF).

By inspecting the content of these tables we can see that multiple tuples have NULL values.

In [24]:
%sql SELECT * FROM Master2 ORDER BY lieu;

 * sqlite:///wine.db
Done.

[(None, None, None, None, None, None, None, 11, 'Breton', 'Andre', 'petit', None),
 (None, None, None, None, None, None, None, 13, 'Barthes', 'Roland', 'moyen', None),
 (None, None, None, None, None, None, None, 16, 'Balzac', 'Honore de', 'moyen', None),
 (None, None, None, None, None, None, None, 18, 'Celine', 'Louis Ferdinand', 'gros', None),
 (None, None, None, None, None, None, None, 20, 'Chateaubriand', 'Francois-Rene de', 'moyen', None),
 (None, None, None, None, None, None, None, 21, 'Corbiere', 'Tristan', 'petit', None),
 (None, None, None, None, None, None, None, 23, 'Corneille', 'Pierre', 'petit', None),
 (None, None, None, None, None, None, None, 25, 'Char', 'Rene', 'petit', None),
 (None, None, None, None, None, None, None, 27, 'Dumas', 'Alexandre', 'gros', None),
 (None, None, None, None, None, None, None, 29, 'Fournier', 'Alain', 'petit', None),
 (None, None, None, None, None, None, None, 32, 'Eluard', 'Paul', 'moyen', None),
 (None, None, None, None, None, None, None, 34, 'Mauriac', 'Francois', 'petit', None),
 (None, None, None, None, None, None, None, 35, 'Fromentin', 'Eugene', 'gros', None),
 (None, None, None, None, None, None, None, 36, 'Maurois', 'Andre', 'petit', None),
 (None, None, None, None, None, None, None, 37, 'Freud', 'Sigmund', 'petit', None),
 (None, None, None, None, None, None, None, 39, 'Montesquieu', None, 'gros', None),
 (None, None, None, None, None, None, None, 42, 'Goethe', 'Johann Wolfgang von', 'moyen', None),
 (None, None, None, None, None, None, None, 43, 'Musset', 'Alfred de', 'gros', None),
 (None, None, None, None, None, None, None, 46, 'Hugo', 'Victor', 'moyen', None),
 (None, None, None, None, None, None, None, 47, 'Gary', 'Romain', 'petit', None),
 (None, None, None, None, None, None, None, 51, 'Lafargue', 'Paul', 'petit', None),
 (None, None, None, None, None, None, None, 53, 'Lamartine', 'Alphonse de', 'gros', None),
 (None, None, None, None, None, None, None, 54, 'Aurele', 'Marc', 'petit', None),
 (None, None, None, None, None, None, None, 55, 'Michelet', 'Jules', 'gros', None),
 (None, None, None, None, None, None, None, 56, 'Nerval', 'Gerard de', 'petit', None),
 (None, None, None, None, None, None, None, 57, 'Marx', 'Karl', 'gros', None),
 (None, None, None, None, None, None, None, 59, 'Nietzsche', 'Friedrich', 'petit', None),
 (None, None, None, None, None, None, None, 63, 'Maupassant', 'Guy de', 'petit', None),
 (None, None, None, None, None, None, None, 64, 'Platon', None, 'gros', None),
 (None, None, None, None, None, None, None, 65, 'Pascal', 'Blaise', 'petit', None),
 (None, None, None, None, None, None, None, 66, 'Perec', 'Georges', 'gros', None),
 (None, None, None, None, None, None, None, 67, 'Nin', 'Anais', 'petit', None),
 (None, None, None, None, None, None, None, 68, 'Prevert', 'Jacques', 'gros', None),
 (None, None, None, None, None, None, None, 69, 'Queneau', 'Raymond', 'petit', None),
 (None, None, None, None, None, None, None, 70, 'Paulhan', 'Jean', 'gros', None),
 (None, None, None, None, None, None, None, 71, 'Radiguet', 'Raymond', 'petit', None),
 (None, None, None, None, None, None, None, 72, 'Rabelais', 'Francois', 'gros', None),
 (None, None, None, None, None, None, None, 73, 'Poe', 'Allan Edgard', 'moyen', None),
 (None, None, None, None, None, None, None, 74, 'Rimbaud', 'Arthur', 'petit', None),
 (None, None, None, None, None, None, None, 76, 'Racine', 'Jean', 'gros', None),
 (None, None, None, None, None, None, None, 77, 'Rousseau', 'Jean-Jacques', 'petit', None),
 (None, None, None, None, None, None, None, 78, 'Sandier', 'Jules', 'moyen', None),
 (None, None, None, None, None, None, None, 79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros', None),
 (None, None, None, None, None, None, None, 81, 'Sartre', 'Jean-Paul', 'gros', None),
 (None, None, None, None, None, None, None, 83, 'Sophocle', None, 'gros', None),
 (None, None, None, None, None, None, None, 84, 'Sue', 'Eugene', 'moyen', None),
 (None, None, None, None, None, None, None, 85, 'Segalen', 'Victor', 'petit', None),
 (None, None, None, None, None, None, None, 86, 'Saint Exupery', 'Antoine de', 'gros', None),
 (None, None, None, None, None, None, None, 87, 'Segur', 'Comtesse de', 'gros', None),
 (None, None, None, None, None, None, None, 88, 'Shakespeare', 'William', 'petit', None),
 (None, None, None, None, None, None, None, 89, 'Stendhal', None, 'petit', None),
 (None, None, None, None, None, None, None, 90, 'Vian', 'Boris', 'petit', None),
 (None, None, None, None, None, None, None, 91, 'Verlaine', 'Paul', 'gros', None),
 (None, None, None, None, None, None, None, 93, 'Virgile', None, 'gros', None),
 (None, None, None, None, None, None, None, 95, 'Zorn', 'Fritz', 'moyen', None),
 (None, None, None, None, None, None, None, 98, 'Maturin', 'Robert', 'gros', None),
 (None, None, None, None, None, None, None, 99, 'Cesar', 'Jules', 'gros', None),
 (11, 'Sylvaner', 11.2, 1982, None, None, None, None, None, None, None, None),
 (13, 'Cotes du Rhone', 12.3, 1968, None, None, None, None, None, None, None, None),
 (14, 'Chateau Chalon', 10.9, 1978, None, None, None, None, None, None, None, None),
 (15, 'Cote de Brouilly', 11.9, 1973, None, None, None, None, None, None, None, None),
 (17, 'Meursault', 11.4, 1975, None, None, None, None, None, None, None, None),
 (18, 'Chambolle Musigny', 12.3, 1968, None, None, None, None, None, None, None, None),
 (19, 'Clos du roi', 11.2, 1972, None, None, None, None, None, None, None, None),
 (25, 'Chapelle Chambertin', 10.5, 1968, None, None, None, None, None, None, None, None),
 (27, 'Puligny Montrachet', 11, 1974, None, None, None, None, None, None, None, None),
 (29, 'Corton', 11.6, 1972, None, None, None, None, None, None, None, None),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979, None, None, None, None, None, None, None, None),
 (33, 'Santenay', 12, 1972, None, None, None, None, None, None, None, None),
 (34, 'Montagny', 11.2, 1978, None, None, None, None, None, None, None, None),
 (36, 'Chorey les Beaunes', 11, 1955, None, None, None, None, None, None, None, None),
 (37, 'Savigny les Beaunes', 10, 1978, None, None, None, None, None, None, None, None),
 (39, 'Savigny les Beaunes', None, 1973, None, None, None, None, None, None, None, None),
 (44, 'Moulin a vent', None, 1983, None, None, None, None, None, None, None, None),
 (45, 'Chiroubles', None, 1983, None, None, None, None, None, None, None, None),
 (46, 'Chiroubles', 11, 1983, None, None, None, None, None, None, None, None),
 (47, 'Chiroubles', 11, 1978, None, None, None, None, None, None, None, None),
 (48, 'Cote de Brouilly', 12, 1899, None, None, None, None, None, None, None, None),
 (49, 'Morgon', 12, 1984, None, None, None, None, None, None, None, None),
 (51, 'Chenas', 10, 1975, None, None, None, None, None, None, None, None),
 (52, 'Brouilly', None, 1975, None, None, None, None, None, None, None, None),
 (57, 'Crozes Hermitage', 12.1, 1974, None, None, None, None, None, None, None, None),
 (58, 'Crozes Hermitage', 12.5, 1975, None, None, None, None, None, None, None, None),
 (59, 'Crozes - Hermitage', 12.3, 1972, None, None, None, None, None, None, None, None),
 (60, 'Crozes-Hermitage', 11, 1983, None, None, None, None, None, None, None, None),
 (61, 'Hermitage', 12, 1979, None, None, None, None, None, None, None, None),
 (65, 'Rochgrande', 10.8, 1968, None, None, None, None, None, None, None, None),
 (66, 'Tavel', 11, 1968, None, None, None, None, None, None, None, None),
 (67, 'Gewurztraminer', 12.5, 1968, None, None, None, None, None, None, None, None),
 (68, 'Riesling', 14, 1962, None, None, None, None, None, None, None, None),
 (69, "Tokay d'Alsace", 11, 1982, None, None, None, None, None, None, None, None),
 (70, 'Sylvaner', 11, 1982, None, None, None, None, None, None, None, None),
 (71, 'Palette', 11, 1981, None, None, None, None, None, None, None, None),
 (72, 'Cassis', 10, 1978, None, None, None, None, None, None, None, None),
 (73, 'Bellet', 11, 1976, None, None, None, None, None, None, None, None),
 (75, 'Arbois', 11, 1976, None, None, None, None, None, None, None, None),
 (76, 'Chateau Chalon', 12, 1976, None, None, None, None, None, None, None, None),
 (77, 'Etoile', 11, 1979, None, None, None, None, None, None, None, None),
 (88, 'Cotes de Provence', 10, 1976, None, None, None, None, None, None, None, None),
 (89, 'Cotes de Provence', 11, 1969, None, None, None, None, None, None, None, None),
 (90, 'Palette', 11, 1969, None, None, None, None, None, None, None, None),
 (91, 'Cassis', 11, 1979, None, None, None, None, None, None, None, None),
 (92, 'Coteaux de Pierevert', None, 1967, None, None, None, None, None, None, None, None),
 (93, 'Blanquette de Limoux', None, 1978, None, None, None, None, None, None, None, None),
 (94, 'Cotes du Rousillon', None, 1978, None, None, None, None, None, None, None, None),
 (95, 'Cotes du Rousillon', 12, 1978, None, None, None, None, None, None, None, None),
 (96, 'Saint Chinian', 11, 1976, None, None, None, None, None, None, None, None),
 (97, 'Saint Chinian', 11, 1976, None, None, None, None, None, None, None, None),
 (98, 'Corbieres', 10, 1978, None, None, None, None, None, None, None, None),
 (99, 'Cote Rotie', 13, 1994, None, None, None, None, None, None, None, None),
 (101, 'Saint Veran', 12.5, 1973, None, None, None, None, None, None, None, None),
 (107, 'Sancerre', 14, 1998, None, None, None, None, None, None, None, None),
 (1, 'Mercurey', 11.5, 1980, '1977-11-02', 'BORDEAUX', 33, 2, 'Artaud', 'Antonin', 'moyen', ' NOUVELLE-AQUITAINE'),
 (10, 'Beaujolais Villages', 11.8, 1979, '1977-12-31', 'BORDEAUX', 10, 3, 'Aron', 'Raymond', 'gros', ' NOUVELLE-AQUITAINE'),
 (38, 'Savigny les Beaunes', 11, 1977, '1981-08-06', 'CAEN', 5, 12, 'Bataille', 'Georges', 'moyen', ' NORMANDIE'),
 (38, 'Savigny les Beaunes', 11, 1977, '1981-05-12', 'CAEN', 2, 14, 'Bory', 'Jean Louis', 'gros', ' NORMANDIE'),
 (100, 'Seyssel', 11, 1974, '1983-02-21', 'CAEN', 3, 5, 'Audiberti', 'Jacques', 'petit', ' NORMANDIE'),
 (7, 'Grands Echezeaux', 11.7, 1968, '1987-04-28', 'CANNES', 7, 58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (21, 'Cotes de Nuits', None, 1978, '1987-04-05', 'CANNES', 21, 62, 'Proust', 'Marcel', 'moyen', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (100, 'Seyssel', 11, 1974, '1982-11-04', 'CANNES', 10, 41, 'Gauthier', 'Theophile', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (10, 'Beaujolais Villages', 11.8, 1979, '1982-10-30', 'CHALON SUR SAONE', 500, 2, 'Artaud', 'Antonin', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (40, 'Richebourg', 12, 1943, '1982-04-02', 'DIJON', 25, 17, 'Camus', 'Albert', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (40, 'Richebourg', 12, 1943, '1980-12-31', 'DIJON', 12, 19, 'Ciceron', None, 'gros', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (24, 'Cotes de Beaune Villages', 12.1, 1971, '1986-06-12', 'LE CHESNAY', 14, 100, 'Woolf', 'Virginia', 'petit', ' ÎLE-DE-FRANCE'),
 (40, 'Richebourg', 12, 1943, '1986-08-10', 'LE CHESNAY', 4, 92, 'Verne', 'Jules', 'petit', ' ÎLE-DE-FRANCE'),
 (5, 'Pommard', 11.7, 1976, '1983-06-29', 'LILLE', 5, 52, 'Carroll', 'Lewis', 'petit', ' HAUTS-DE-FRANCE'),
 (8, 'Cotes de Beaune Villages', 12.3, 1975, '1979-11-01', 'LILLE', 10, 9, 'Ajar', 'Emile', 'petit', ' HAUTS-DE-FRANCE'),
 (9, 'Chapelle Chambertin', 11.9, 1973, '1979-05-12', 'LILLE', 1, 10, 'Andersen', 'Yann', 'gros', ' HAUTS-DE-FRANCE'),
 (2, 'Julienas', 11.3, 1974, '1983-12-25', 'LYON', 2, 48, 'Hardy', 'Thomas', 'moyen', '  AUVERGNE-RHÔNE-ALPES'),
 (9, 'Chapelle Chambertin', 11.9, 1973, '1982-03-26', 'LYON', 20, 5, 'Audiberti', 'Jacques', 'petit', '  AUVERGNE-RHÔNE-ALPES'),
 (10, 'Beaujolais Villages', 11.8, 1979, '1983-06-06', 'LYON', 10, 5, 'Audiberti', 'Jacques', 'petit', '  AUVERGNE-RHÔNE-ALPES'),
 (31, 'Monthelie', 11.4, 1968, '1984-12-31', 'LYON', 6, 26, 'Diderot', 'Denis', 'moyen', '  AUVERGNE-RHÔNE-ALPES'),
 (31, 'Monthelie', 11.4, 1968, '1978-12-25', 'LYON', 100, 28, 'Dostoievsky', 'Fiodor', 'gros', '  AUVERGNE-RHÔNE-ALPES'),
 (35, 'Auxey Duresses', 11.3, 1914, '1981-12-25', 'LYON', 80, 30, 'La Fontaine', 'Jean de', 'petit', '  AUVERGNE-RHÔNE-ALPES'),
 (3, 'Savigny les Beaunes', 12.1, 1978, '1987-12-24', 'MERCUREY', 5, 49, 'Kafka', 'Franz', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (5, 'Pommard', 11.7, 1976, '1984-11-04', 'MERCUREY', 50, 2, 'Artaud', 'Antonin', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (6, 'Mercurey', 11.2, 1981, '1978-01-21', 'NANCY', 36, 3, 'Aron', 'Raymond', 'gros', ' GRAND EST'),
 (100, 'Seyssel', 11, 1974, '1982-11-05', 'NANCY', 11, 40, 'Moliere', None, 'petit', ' GRAND EST'),
 (3, 'Savigny les Beaunes', 12.1, 1978, '1978-11-01', 'NICE', 6, 7, 'Anouilh', 'Jean', 'moyen', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (20, 'Cote de Brouilly', 12.1, 1980, '1978-06-12', 'NICE', 20, 61, 'Mallarme', 'Stephane', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (40, 'Richebourg', 12, 1943, '1982-03-25', 'NICE', 30, 15, 'Baudelaire', 'Charles', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (1, 'Mercurey', 11.5, 1980, '2015-10-16', 'PARIS', 1, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (4, 'Mercurey', 10.9, 1980, '2015-10-16', 'PARIS', 6, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (7, 'Grands Echezeaux', 11.7, 1968, '1987-09-19', 'PARIS', 24, 4, 'Apollinaire', 'Guillaume', 'moyen', ' ÎLE-DE-FRANCE'),
 (8, 'Cotes de Beaune Villages', 12.3, 1975, '1982-09-15', 'PARIS', 78, 1, 'Aristote', None, 'petit', ' ÎLE-DE-FRANCE'),
 (16, 'Meursault', 12.1, 1980, '2015-10-16', 'PARIS', 2, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (20, 'Cote de Brouilly', 12.1, 1980, '2015-10-16', 'PARIS', 3, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (26, 'Chateau Corton Grancey', None, 1980, '2015-10-16', 'PARIS', 4, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (28, 'Volnay', 11, 1980, '2015-10-16', 'PARIS', 5, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (32, 'Pouilly Vinzelles', 12.3, 1968, '1983-02-14', 'PARIS', 3, 22, 'Cocteau', 'Jean', 'gros', ' ÎLE-DE-FRANCE'),
 (32, 'Pouilly Vinzelles', 12.3, 1968, '1980-12-31', 'PARIS', 7, 24, 'Courrier', 'Paul Louis', 'moyen', ' ÎLE-DE-FRANCE'),
 (42, 'Beaujolais Primeur', 12, 1983, '1983-03-10', 'PARIS', 4, 100, 'Woolf', 'Virginia', 'petit', ' ÎLE-DE-FRANCE'),
 (43, 'Fleurie', 11.4, 1980, '2015-10-16', 'PARIS', 7, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (50, 'Chenas', 11.5, 1984, '1988-02-23', 'PARIS', 1, 38, 'Montaigne', 'Michel de', 'petit', ' ÎLE-DE-FRANCE'),
 (62, 'Gigondas', 11, 1978, '1980-12-21', 'PARIS', 5, 96, 'Wilde', 'Oscar', 'petit', ' ÎLE-DE-FRANCE'),
 (63, 'Coteaux du Tricastin', 10, 1978, '1982-02-02', 'PARIS', 12, 3, 'Aron', 'Raymond', 'gros', ' ÎLE-DE-FRANCE'),
 (64, 'Coteaux du Tricastin', 11, 1974, '1983-12-31', 'PARIS', 1, 97, 'Vigny', 'Alfred de', 'petit', ' ÎLE-DE-FRANCE'),
 (74, 'Arbois', 12, 1980, '2015-10-16', 'PARIS', 8, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (78, 'Etoile', 12, 1980, '2015-10-16', 'PARIS', 9, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (79, 'Seyssel', 11, 1980, '2015-10-16', 'PARIS', 10, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (80, 'Seyssel', 11, 1980, '2015-10-16', 'PARIS', 11, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (81, 'Cornas', 11.1, 1980, '2015-10-16', 'PARIS', 12, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (82, 'Cornas', 11, 1980, '2015-10-16', 'PARIS', 13, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (83, 'Saint Amour', 10, 1980, '2015-10-16', 'PARIS', 14, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (84, 'Rasteau', 10, 1980, '2015-10-16', 'PARIS', 15, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (85, 'Tavel', 11, 1980, '2015-10-16', 'PARIS', 16, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (86, 'Tavel', 11, 1980, '2015-10-16', 'PARIS', 17, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (87, 'Cotes de Provence', None, 1980, '2015-10-16', 'PARIS', 18, 44, 'Gide', 'Andre', 'petit', ' ÎLE-DE-FRANCE'),
 (22, 'Savigny les Beaunes', None, 1974, '1987-12-24', 'PARLY', 22, 80, 'Sand', 'Georges', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (23, 'Pommard', None, 1972, '1988-03-20', 'PARLY', 23, 82, 'Roussel', 'Rene', 'petit', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (1, 'Mercurey', 11.5, 1980, '1983-12-31', 'RENNES', 1, 45, 'Giono', 'Jean', 'petit', ' BRETAGNE'),
 (22, 'Savigny les Beaunes', None, 1974, '1985-05-23', 'ROCQUENCOURT', 22, 75, 'Ronsard', 'Pierre', 'moyen', ' ÎLE-DE-FRANCE'),
 (53, 'Beaujolais Villages', None, 1975, '1983-06-06', 'ROCQUENCOURT', 10, 12, 'Bataille', 'Georges', 'moyen', ' ÎLE-DE-FRANCE'),
 (54, 'Beaujolais Villages', 10.5, 1976, '1983-05-05', 'ROCQUENCOURT', 120, 8, 'Aragon', 'Louis', 'gros', ' ÎLE-DE-FRANCE'),
 (55, 'Beaujolais Villages', 12.1, 1978, '1983-05-05', 'ROCQUENCOURT', 130, 9, 'Ajar', 'Emile', 'petit', ' ÎLE-DE-FRANCE'),
 (56, 'Saint Amour', None, 1974, '1983-05-05', 'ROCQUENCOURT', 80, 5, 'Audiberti', 'Jacques', 'petit', ' ÎLE-DE-FRANCE'),
 (4, 'Mercurey', 10.9, 1980, '1981-06-29', 'SENS', 4, 50, 'Lautreamont', None, 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (41, 'Clairette de Die', 12, 1976, '1985-12-29', 'SENS', 3, 94, 'Zola', 'Emile', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (42, 'Beaujolais Primeur', 12, 1983, '1985-07-27', 'SENS', 3, 94, 'Zola', 'Emile', 'moyen', ' BOURGOGNE-FRANCHE-COMTÉ'),
 (8, 'Cotes de Beaune Villages', 12.3, 1975, '1980-05-12', 'TOULON', 8, 60, 'Ovide', None, 'gros', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (9, 'Chapelle Chambertin', 11.9, 1973, '1907-04-21', 'TOULON', 9, 61, 'Mallarme', 'Stephane', 'petit', " PROVENCE-ALPES-CÔTE D'AZUR"),
 (4, 'Mercurey', 10.9, 1980, '1982-11-05', 'TOULOUSE', 12, 8, 'Aragon', 'Louis', 'gros', ' OCCITANIE'),
 (12, 'Gentil', 10.7, 1975, '1982-11-05', 'TOULOUSE', 36, 6, 'Arrabal', 'Fernando', 'gros', ' OCCITANIE'),
 (40, 'Richebourg', 12, 1943, '1982-04-01', 'TOULOUSE', 1, 33, 'Flaubert', 'Gustave', 'moyen', ' OCCITANIE'),
 (41, 'Clairette de Die', 12, 1976, '1988-04-01', 'TOULOUSE', 2, 31, 'Dante', None, 'gros', ' OCCITANIE')]

* Notice that Jupyter *displays* 'None' instead of 'NULL'. 
  - This is only to comply with python notation.
* To account for NULL values, your SQL queries must test explicitly for 'NULL'.

Another problem in **Master1** and **Master2** is data redundancy, for example:

In [25]:
%%sql SELECT *
FROM Master1
WHERE nv=45;

 * sqlite:///wine.db
Done.

[(45, 'Chiroubles', None, 1983, 90, 2, 'Boxler', 'Albert', 'Alsace'),
 (45, 'Chiroubles', None, 1983, 912, 67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (45, 'Chiroubles', None, 1983, 98, 71, 'Chalandard', 'Danile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 540, 78, 'Michlel', 'Pierre Emile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 450, 86, 'Dumazet', 'Marc', 'Rhone')]

---

Additional resource for Normalization:

https://www.youtube.com/watch?v=UrYLYV7WSHM

---

#### Exercise 1.1

Convert table **Master1** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.
  
Remember that **`wine.db`** contains information related to wine 'production' and 'sells'.

> Production <---> Wine <---> Sales

A good start point is to look for the 'Wine' attributes.

**Hint:** Look for redundant information between the master tables.

MASTER1
Functional dependencies : 

NV -> {CRU,DEGRE,MILL}
NP -> {NOM,PRENOM,REGION}
NP,NV -> {CRU,DEGRE,MILL,QTE,NOM,PRENOM,REGION}

To convert Master1 to 2NF,  we have to check that the relationship is in 1NF (it is the case) and that there are no partial dependencies.

We create the new tables:
subtable1: NP,NOM,PRENOM
subtable2: NV,CRU,DEGRE,MILL
subtable3: NP,NV,QTE,REGION
The subtables1 and 2 are joined on subtable 3 by NP and NV respectively. Each subtable has no partial dependencies.
We have created a 2NF crelation.
It is also 3NF.

#### Exercise 1.2

Convert table **Master2** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.

**Note:** For this part, consider that a wine can be bought in multiple locations and multiple times per day.

MASTER2
Functional dependencies :

NB -> {NOM,PRENOM,TYPE}
NV -> {CRU,DEGRE,MILL}
LIEU -> {REGION}
NB,NV,LIEU -> {NV,CRU,DEGRE,MILL,DATES,LIEU,QTE,NB,NOM,PRENOM,TYPE,REGION}

We create the new subtables to define a 2NF relation:
subtable1 : NB,NOM,PRENOM,TYPE where key is NB
subtable2: NV,CRU,DEGRE,MILL where key is NV
subtable3: LIEU,REGION where key is LIEU
subtable4:NB,NV,LIEU,QTE,DATES where key is NB,NV,LIEU

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables.

A table can be created from the result of a query.

In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [26]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1;

 * sqlite:///wine.db
Done.
Done.

[]

In [27]:
print("\nContent of the database")
printSchema(conn)

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER1sub1:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
MASTER1sub2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
MASTER1sub3:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
MASTER2sub1:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER2sub2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
MASTER2sub3:
  0: LIEU(TEXT)
  1: REGION(TEXT)
MASTER2sub4:
  0: NB(NUM)
  1: NV(NUM)
  2: LIEU(TEXT)
  3: QTE(NUM)
  4: DATES(NUM)
dummy:
  0: DEGRE(NUM)

In [28]:
%%sql
SELECT *
FROM dummy;

 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Looking into "dummy", we notice that our query includes NULL. This is not allowed if we were to use DEGRE as key for a table.

To correct this, we need to change the query to explicitly test for NULL as follows:

In [14]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1
WHERE DEGRE IS NOT NULL;

SELECT *
FROM dummy;

 * sqlite:///wine.db
Done.
Done.
Done.

[(11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Notice that we use `NULL` given that `None` is only used for display.

#### Exercise 1.3

Create the new tables from Master1:

In [80]:
%%sql 

-- Create first subtable of master 1
CREATE TABLE MASTER1sub1 AS
SELECT DISTINCT NP,NOM,PRENOM
FROM MASTER1
WHERE NP IS NOT NULL;

-- Create second subtable of master 1
CREATE TABLE MASTER1sub2 AS
SELECT DISTINCT NV,CRU,DEGRE,MILL
FROM MASTER1
WHERE NV IS NOT NULL;


-- Create third subtable of master 1
CREATE TABLE MASTER1sub3 AS
SELECT DISTINCT NP,NV,QTE,REGION
FROM MASTER1
WHERE NP IS NOT NULL AND NV IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.
Done.

[]

#### Exercise 1.4

Create the new tables from Master2:

In [34]:
%%sql 

-- Create first subtable of master 2
CREATE TABLE MASTER2sub1 AS
SELECT DISTINCT NB,NOM,PRENOM,TYPE
FROM MASTER2
WHERE NB IS NOT NULL;

-- Create second subtable of master 2
CREATE TABLE MASTER2sub2 AS
SELECT DISTINCT NV,CRU,DEGRE,MILL
FROM MASTER2
WHERE NV IS NOT NULL;


-- Create third subtable of master 2
CREATE TABLE MASTER2sub3 AS
SELECT DISTINCT LIEU,REGION
FROM MASTER2
WHERE LIEU IS NOT NULL;

-- Create fourth subtable of master 2
CREATE TABLE MASTER2sub4 AS
SELECT DISTINCT NB,NV,LIEU,QTE,DATES
FROM MASTER2
WHERE NB IS NOT NULL AND NV IS NOT NULL AND LIEU IS NOT NULL;

 * sqlite:///wine.db
(sqlite3.OperationalError) table MASTER2sub1 already exists [SQL: '-- Create first subtable of master 2\nCREATE TABLE MASTER2sub1 AS\nSELECT DISTINCT NB,NOM,PRENOM,TYPE\nFROM MASTER2\nWHERE NB IS NOT NULL;'] (Background on this error at: http://sqlalche.me/e/e3q8)

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

**Important:**

- You MUST use the normalized tables created in previous steps.
  - The normalized tables will also be used in TP3.
- Do NOT use **Master1** and **Master2** in your queries.

#### Exercise 2.1

What are the different types of clients (buveurs) by volume of purchases?

In [30]:
%%sql 
SELECT DISTINCT TYPE
FROM MASTER2sub1;

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

#### Exercise 2.2

What regions produce Pommard or Brouilly?

In [44]:
%%sql 

SELECT REGION
FROM MASTER1sub2 NATURAL JOIN MASTER1sub3
WHERE CRU = 'Pommard' OR CRU = 'Brouilly';

 * sqlite:///wine.db
Done.

[('Pommard', 'Bourgogne'), ('Pommard', 'Rhone'), ('Brouilly', 'Bourgogne')]

#### Exercise 2.3

What regions produce Pommard and Brouilly?

In [50]:
%%sql 

SELECT REGION
FROM MASTER1sub2 NATURAL JOIN MASTER1sub3
WHERE CRU = 'Pommard' INTERSECT 
SELECT REGION
FROM MASTER1sub2 NATURAL JOIN MASTER1sub3
WHERE CRU = 'Brouilly';

 * sqlite:///wine.db
Done.

[('Bourgogne',)]

#### Exercise 2.4

Get the number of wines bought by CRU and Millésime

In [54]:
%%sql 

SELECT QTE AS nb_of_wines_bought,CRU, MILL
FROM MASTER2sub2
NATURAL JOIN MASTER2sub4
GROUP BY CRU,MILL;

 * sqlite:///wine.db
Done.

[(8, 'Arbois', 1980),
 (80, 'Auxey Duresses', 1914),
 (4, 'Beaujolais Primeur', 1983),
 (10, 'Beaujolais Villages', 1975),
 (120, 'Beaujolais Villages', 1976),
 (130, 'Beaujolais Villages', 1978),
 (500, 'Beaujolais Villages', 1979),
 (20, 'Chapelle Chambertin', 1973),
 (4, 'Chateau Corton Grancey', 1980),
 (1, 'Chenas', 1984),
 (3, 'Clairette de Die', 1976),
 (13, 'Cornas', 1980),
 (20, 'Cote de Brouilly', 1980),
 (1, 'Coteaux du Tricastin', 1974),
 (12, 'Coteaux du Tricastin', 1978),
 (14, 'Cotes de Beaune Villages', 1971),
 (78, 'Cotes de Beaune Villages', 1975),
 (21, 'Cotes de Nuits', 1978),
 (18, 'Cotes de Provence', 1980),
 (9, 'Etoile', 1980),
 (7, 'Fleurie', 1980),
 (36, 'Gentil', 1975),
 (5, 'Gigondas', 1978),
 (24, 'Grands Echezeaux', 1968),
 (2, 'Julienas', 1974),
 (12, 'Mercurey', 1980),
 (36, 'Mercurey', 1981),
 (2, 'Meursault', 1980),
 (100, 'Monthelie', 1968),
 (23, 'Pommard', 1972),
 (50, 'Pommard', 1976),
 (7, 'Pouilly Vinzelles', 1968),
 (15, 'Rasteau', 1980),
 (30, 'Richebourg', 1943),
 (80, 'Saint Amour', 1974),
 (14, 'Saint Amour', 1980),
 (22, 'Savigny les Beaunes', 1974),
 (5, 'Savigny les Beaunes', 1977),
 (6, 'Savigny les Beaunes', 1978),
 (11, 'Seyssel', 1974),
 (11, 'Seyssel', 1980),
 (17, 'Tavel', 1980),
 (5, 'Volnay', 1980)]

#### Exercise 2.5

Retrieve the wine number (NV) of wines produced by more than three producers

In [74]:
%%sql 

SELECT NV, COUNT(DISTINCT(NP)) AS number_of_producers
FROM MASTER1sub3 NATURAL JOIN MASTER1sub1 NATURAL JOIN MASTER1sub2
GROUP BY NV
HAVING COUNT(DISTINCT(NP))>3
;

 * sqlite:///wine.db
Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

#### Exercise 2.6

Which producers have not produced any wine?

In [136]:
%%sql 
SELECT NP,NOM,PRENOM FROM MASTER1sub1
WHERE NP IN (
SELECT NP
FROM MASTER1sub1
EXCEPT 
SELECT NP
FROM MASTER1sub3)
;

 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul'),
 (6, 'Marmagne', 'Bernard'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (26, 'Violot', 'Gilbert'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (37, 'Delagrange Bachelet', None),
 (39, 'de Suremin', 'Hugues'),
 (41, 'Juillot', 'Michel'),
 (44, 'Feyveley', None),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (51, 'Simonet', 'Leon'),
 (53, 'Cooperative', None),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (66, 'Cooperative', None),
 (77, 'Tissot', 'Andre'),
 (83, 'Goy', None),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (94, 'Grippat', 'Jean Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred')]

#### Exercise 2.7

What clients (buveurs) have bought at least one wine from 1980?

In [120]:
%%sql 
SELECT NB,NOM,PRENOM
FROM MASTER2sub1
NATURAL JOIN MASTER2sub4
NATURAL JOIN MASTER2sub2
WHERE MILL = 1980
GROUP BY NB;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin'),
 (8, 'Aragon', 'Louis'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (50, 'Lautreamont', None),
 (61, 'Mallarme', 'Stephane')]

#### Exercise 2.8

What clients (buveurs) have NOT bought any wine from 1980?

In [128]:
%%sql 
SELECT NB,NOM,PRENOM FROM MASTER2sub1
WHERE NB IN (
SELECT NB
FROM MASTER2sub1
EXCEPT
SELECT NB
FROM MASTER2sub4
NATURAL JOIN MASTER2sub2
WHERE MILL =1980)
ORDER BY NB
;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (11, 'Breton', 'Andre'),
 (12, 'Bataille', 'Georges'),
 (13, 'Barthes', 'Roland'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (16, 'Balzac', 'Honore de'),
 (17, 'Camus', 'Albert'),
 (18, 'Celine', 'Louis Ferdinand'),
 (19, 'Ciceron', None),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (22, 'Cocteau', 'Jean'),
 (23, 'Corneille', 'Pierre'),
 (24, 'Courrier', 'Paul Louis'),
 (25, 'Char', 'Rene'),
 (26, 'Diderot', 'Denis'),
 (27, 'Dumas', 'Alexandre'),
 (28, 'Dostoievsky', 'Fiodor'),
 (29, 'Fournier', 'Alain'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (32, 'Eluard', 'Paul'),
 (33, 'Flaubert', 'Gustave'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (38, 'Montaigne', 'Michel de'),
 (39, 'Montesquieu', None),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (51, 'Lafargue', 'Paul'),
 (52, 'Carroll', 'Lewis'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (59, 'Nietzsche', 'Friedrich'),
 (60, 'Ovide', None),
 (62, 'Proust', 'Marcel'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (75, 'Ronsard', 'Pierre'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de'),
 (80, 'Sand', 'Georges'),
 (81, 'Sartre', 'Jean-Paul'),
 (82, 'Roussel', 'Rene'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (92, 'Verne', 'Jules'),
 (93, 'Virgile', None),
 (94, 'Zola', 'Emile'),
 (95, 'Zorn', 'Fritz'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules'),
 (100, 'Woolf', 'Virginia')]

#### Exercise 2.9

What clients (buveurs) have bought ONLY wines from 1980?

In [194]:
%%sql 
SELECT NB, NOM, PRENOM
FROM MASTER2sub1 NATURAL JOIN MASTER2sub4 NATURAL JOIN MASTER2sub2
EXCEPT
SELECT NB, NOM, PRENOM
FROM MASTER2sub1 NATURAL JOIN MASTER2sub4 NATURAL JOIN MASTER2sub2
WHERE MILL != 1980

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre'), (45, 'Giono', 'Jean'), (50, 'Lautreamont', None)]

#### Exercise 2.10

List all wines from 1980

In [193]:
%%sql 
SELECT  DISTINCT CRU
FROM MASTER2sub2
NATURAL JOIN MASTER2sub1
WHERE MILL = 1980

 * sqlite:///wine.db
Done.

[('Arbois',),
 ('Chateau Corton Grancey',),
 ('Cornas',),
 ('Cote de Brouilly',),
 ('Cotes de Provence',),
 ('Etoile',),
 ('Fleurie',),
 ('Mercurey',),
 ('Meursault',),
 ('Rasteau',),
 ('Saint Amour',),
 ('Seyssel',),
 ('Tavel',),
 ('Volnay',)]

#### Exercise 2.11

What are the wines from 1980 bought by NB=2?

In [190]:
%%sql 

SELECT NV,CRU,MILL,DEGRE
FROM MASTER2sub2
NATURAL JOIN MASTER2sub4
WHERE MILL = 1980 AND NB=2;

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 1980, 11.5)]

#### Exercise 2.12

What clients (buveurs) have bought ALL the wines from 1980?

In [259]:
%%sql
SELECT NB, NOM, PRENOM
FROM(SELECT MAX(count_nv), NB
FROM(
SELECT COUNT(NV) AS count_nv,NB
FROM MASTER1sub1
NATURAL JOIN MASTER2sub4
NATURAL JOIN MASTER2sub2
WHERE MILL = 1980
GROUP BY NB))
NATURAL JOIN MASTER2sub4
NATURAL JOIN MASTER2sub1
GROUP BY NB;

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre')]